# ==========================
# Android Studio / IntelliJ
# ==========================
*.iml
.idea/
.gradle/
local.properties

# Build folders
build/
**/build/
captures/
.externalNativeBuild/
.cxx/

# ==========================
# Node.js
# ==========================
node_modules/
backend/node_modules/
npm-debug.log*

# ==========================
# Environment Variables
# ==========================
.env
*.env
backend/.env

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log